html, body {
	overflow: hidden;
	background-color: #DDD;
}
#canvas {
}
.textarea {
	height: 100%;
	background-color: #334;
	color: #DDD;
	font-size: 12px;
}
.flex_container {
	display: flex;
	justify-content: center;
	align-content: center;
}
.flex_container :nth-child(n) {
	width: 100%;
}
